body {
  font-family: sans-serif;
  margin: 5%;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

ul:hover{
  cursor: help;
}

div {
  position: relative;
  display: inline-block;
}

.tooltip { 
  visibility: hidden;
  position: absolute;
  width: 400px;
  height: 200px;
  border: 1px solid;
  border-radius: 4px;
}

div:hover .tooltip {
  visibility: visible;
}