body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 58vh 20vh;
  box-sizing: border-box;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.item1 {
  background-color: pink;
  grid-column: span 12;
}

.item2 {
  background-color: purple;
  grid-column: span 4;
}

.item3 {
  background-color: rgb(221, 68, 119);
  grid-column: span 8;
}

.item4 {
  background-color: rgb(139, 231, 243);
  grid-column: span 12;
}




