html {
  font-size: 16px;
}
.smiley {
  width: 12.5rem;
  height: 12.5rem;
  line-height: 12.5rem; 
  /* width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem; punto#2 */
  /* width: 6.25rem;
  height: 6.25rem;
  line-height: 6.25rem; punto #1*/
  text-align: center;
  font-family: 'courier new';
  font-weight: bold;  
  font-size: 6.25rem;
  /* font-size: 1.563rem; punto #2*/
  color: #424242;
  background: #ffcc00;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}