body {
  background-color: rgb(177, 169, 169);
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  display: block;
}

.contenedor1 {
  background-color: greenyellow;
}

.contenedor2 {
  background-color: yellow;
}

.contenedor3 {
  background-color: gray;
}

@media all and (min-width:481px) and (max-width:1000px){
  body {
    display: flex;
    flex-direction: row;  
   
  }

  .secondblock {
    margin: 40px 4% 2% 4%;
    width: 70vw;     
  }

  h3 {
    margin: 0;
  }

  .margin0 {
    margin: 0;   
  }

  .contenedor2 {
    height: 60vh;
    display: flex;
  }

  .orange {
    width: 60vw;
    height: 130px;
    background-color: orange;
  }

  .text {
    width: 70vw;
    justify-self: flex-end;
  }
  
  .last {
    display: flex;    
  }
}
@media all and (min-width:1000px){
  h1 {
    height: 75px;
  }

  body {
    display: flex;
    flex-direction: row;   
  }

  .secondblock {
    display: flex;
  }

  .contenedor1 {
    width: 10vw;
    margin: 0px 0% 0% 0%;
  }

  .contenedor2 {
    width: 70vw;
    height: 80vh;
    margin: 75px 3% 3% 3%;
  }

  .contenedor3 {
    width: 20vw;
    margin: 75px 0% 0% 0%;
    height: 250px;
  }

  .orange {
    width: 130px;
    height: 130px;
    background-color: orange;
  }

  .last {
    display: flex;    
  }

  .margin0 {
    width: 55vw;
  }

} 

